@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.cursor-grabbing {
  cursor: grabbing;
}

.cursor-grab {
  cursor: grab;
}

.cursor-resize {
  cursor: col-resize;
}

.single-line {
  white-space: nowrap;
  width: 200px;
  overflow: hidden;
}

.single-line br {
  display: none;
}

.single-line *:not(.block) {
  display: inline;
  white-space: nowrap;
}

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.update-highlight {
  animation-name: bg-fade-out;
  animation-duration: 2.5s;
}

@keyframes bg-fade-out {
  0%   {background: white;}
  10%  {background: rgba(255, 251, 235, 1);}
  100% {background: white;}
}