@tailwind base;
@tailwind components;
@tailwind utilities;

.cursor-grabbing {
  cursor: grabbing;
}

.cursor-grab {
  cursor: grab;
}

.cursor-resize {
  cursor: col-resize;
}

.single-line {
  white-space: nowrap;
  width: 200px;
  overflow: hidden;
}

.single-line br {
  display: none;
}

.single-line * {
  display: inline;
  white-space: nowrap;
}

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
